@import url('./header-bg.css');

:root {
    /* Main colors */
    --color-pokeball: #EF5350;
    --color-pikachu: #FFCB05;
    --color-water: #3B4CCA;
    --color-white: #FFFFFF;
    --color-black: #2A2A2A;
    --color-lightgray: #F5F5F5;

    /* Pokemon types */
    --color-normal: #A8A77A;
    --color-fire: #EE8130;
    --color-water: #6390F0;
    --color-electric: #F7D02C;
    --color-grass: #7AC74C;
    --color-ice: #96D9D6;
    --color-fighting: #C22E28;
    --color-poison: #A33EA1;
    --color-ground: #E2BF65;
    --color-flying: #A98FF3;
    --color-psychic: #F95587;
    --color-bug: #A6B91A;
    --color-rock: #B6A136;
    --color-ghost: #735797;
    --color-dragon: #6F35FC;
    --color-dark: #705746;
    --color-steel: #B7B7CE;
    --color-fairy: #D685AD;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    min-height: 100vh;
    background:
        linear-gradient(135deg, var(--color-water) 0%, var(--color-grass) 100%);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    width: 250px;
    height: 250px;
    background: url('/pokeball-bg.svg') no-repeat center center;
    background-size: contain;
    z-index: -1;
    opacity: .5;
    pointer-events: none;
    transform: rotate(20deg);
}